:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

.individualBacks {
  background-image: url(./images/theaterseats.jpg);
  background-size: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

figure {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  border: solid 0.2rem gold;
  width: 20%;
  height: 20%;
  margin: 1rem -10rem 1rem -10rem;
}

.dottedBorder {
  border: dotted 0.2rem gold;
  display: flex;
  justify-content: center;
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
}

.outerBorder {
  border: solid 0.2rem gold;
}
