:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

figure {
  border: solid 1px black;
  display: flex;
  flex-wrap: wrap;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
